*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ /*Criando as variaveis de cor e texto-para facilitar no CSS*/
    font-size: 62.5%;
    --text-color:#303030;
    --ff-primary:'Poppins', sans-serif;

    --hue: 194;
    --primary-color: hsl(var(--hue), 100%, 63%); 
}

body{
    font-size: 1.6em;
    color: var(--text-color);
    background-color: rgb(222, 228, 228);
}

body *{
    font-family: var(--ff-primary);
}
.sr-only{ /*Classe para fazeer as coisas sumirem, forçando o sumiço*/
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px; 
   overflow: hidden; /*Deixa dentro do espaço da class*/
   clip: rect(0,0,0,0);
   white-space: nowrap; /*Tira Quebra de linha*/
   border-width: 0;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 2.5rem 0;
}

header h1{
    font-size: 2rem;
    text-transform: uppercase;
}

.search{
    display: flex;
    align-items: center;
}
.search input{
    height: 3.2rem;
    border: 1px solid #ccc;
    border-radius: .4rem 0 0 .4rem;
    padding: 0 .8rem;

}
.search button{
    background-color: var(--primary-color);
    height: 3.2rem;
    border: none;
    padding: 0 1rem;
    border-radius: 0 .4rem .4rem 0;
    cursor: pointer;
}

.search button:hover{
    filter: brightness(1.1);
}

table{
    width: 100%;
    border-collapse: collapse; /*junta as linhas da coluna*/
    box-shadow: 0 1rem 2rem -1rem rgb(0, 0, 0, 0.3);
}

table *{
    font-size: 1.4rem;
    color: var(--text-color);
}

table th{
    background: var(--primary-color);
    text-align: left;
    font-weight: normal;
    padding: 1.5rem;
}

table th:first-child{
    border-top-left-radius:.4rem ;
}
table th:last-child{
    border-top-right-radius: .4rem;
}

table tr:nth-child(odd){
    background: #ddd;
}
table tr:nth-child(even){
   background: #eee;
}
table td{
    padding: 1.5rem;
    text-align: left;
}
td.user{
    display: flex;
    align-items: center;
    gap: 1rem;
}

td.user img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;

}
td.user a{
    text-decoration: none;
}
td.user a p{
    font-weight: bold;

}

td .remove{
    background: none;
    border: none;
    color: red;
}