*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{ /*Criando as variaveis de cor e texto-para facilitar no CSS*/
    font-size: 62.5%;
    --text-color:#303030;
    --ff-primary:'Poppins', sans-serif;

    --hue: 194;
    --primary-color: hsl(var(--hue), 100%, 63%); 
}

body{
    font-size: 1.6em;
    color: var(--text-color);
    background-color: rgb(227, 243, 243);
}

body *{
    font-family: var(--ff-primary);
}

button{
    background-color: var(--primary-color);

}

.sr-only{ /*Classe para fazeer as coisas sumirem, forçando o sumiço*/
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px; 
   overflow: hidden; /*Deixa dentro do espaço da class*/
   clip: rect(0,0,0,0);
   white-space: nowrap; /*Tira Quebra de linha*/
   border-width: 0;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

